<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>feedbacks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VChat UIT</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/animate.css" rel="stylesheet" />
    <!-- Squad theme CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/default.css" rel="stylesheet">
    <link rel="stylesheet" href=" /css/bootstrap-table.min.css">
    <script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>

    <script src="/js/bootstrap.min.js"></script>

    <script src=" /js/bootstrap-table.min.js"></script>
    <script src="/js/bootstrap-table-flatJSON.min.js"></script>
    <script src="/js/bootstrap-dialog.js"></script>

</head>
<body>



<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="">
                <img src="/images/logo.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#intro">Home</a></li>
                <li><a href="#user">User</a></li>
                <li><a href="#gettingstart">Feedback</a></li>
                <li><a href="#question">Question</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Others<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#user">User</a></li>
                        <li><a href="#gettingstart">Feedback</a></li>
                        <li><a href="#question">Question</a></li>
                        <li><a href="/admin/logout">logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!-- Section: intro -->
<section id="intro" class="intro">



</section>
<!-- /Section: intro -->



<!-- Section:"user" -->
<section id="user" class="home-section text-center">

    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>Accounts</h2>
                            <i class="fa fa-2x fa-angle-down"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <!--table user-->
        <div class="rơw">
            <table id="tbUser"></table>
            <script>
                $(document).ready(function(){
                    //load users aynchonously
                    $('[href="#user"]').click(function(){
                        $('#tbUser').bootstrapTable({
                            method: 'get',
                            url: '/admin/users',
                            cache: false,
                            height: 450,
                            striped: true,
                            pagination: true,
//                            sidePagination: 'client',
                            pageSize: 5,
                            pageList: [10, 25, 50, 100, 200],
                            search: true,
                            showColumns: true,
                            showRefresh: true,
                            minimumCountColumns: 2,
                            clickToSelect: true,
                            columns: [{
                                field: 'state',
                                checkbox: true
                            }, {
                                field: '_id',
                                title: 'Item ID',
                                halign: 'center',
                                align: 'left',
                                valign: 'top',
                                sortable: true
                            }, {
                                field: 'name',
                                title: 'Item Name',
                                halign: 'center',
                                align: 'left',
                                valign: 'top',
                                sortable: true
                            }, {
                                field: 'email',
                                title: 'Email',
                                halign: 'center',
                                align: 'left',
                                valign: 'top',
                                sortable: true
                            },{
                                field: 'password',
                                title: 'Password',
                                width: 250,
                                halign: 'center',
                                align: 'left',
                                valign: 'top',
                                sortable: true
                            }, {
                                field: 'birthday',
                                title: 'Birthday',
                                halign: 'center',
                                align: 'left',
                                valign: 'top',
                                sortable: true
                            },{
                                field: 'birthplace',
                                title: 'Birthplace',
                                halign: 'center',
                                align: 'left',
                                valign: 'top',
                                sortable: true
                            },{
                                field: 'operate',
                                title: 'Item Operate',
                                halign: 'center',
                                align: 'center',
                                valign: 'middle',
                                clickToSelect: false,
                                events: operateEvents,
                                formatter: operateUserFormatter
                            }]
                        });
                    });
                    function operateUserFormatter(value, row, index) {
                        return [
                            '<a class="add-user ml10" href="javascript:void(0)" title="Add User">',
                            '<i class="fa fa-ban"></i>',
                            '</a>',

                            '<a class="update-user ml10" href="javascript:void(0)" title="Update User">',
                            '<i class="fa fa-ban"></i>',
                            '</a>',

                            '<a class="delete-user ml10" href="javascript:void(0)" title="Delete User">',
                            '<i class="fa fa-ban"></i>',
                            '</a>'
                        ].join('');
                    }
                });
            </script>
        </div>
    </div>
</section>
<!-- /Section: servives -->


<!-- Section: getting start -->
<section id="gettingstart" class="home-section text-center">


    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>Client's feedbacks</h2>
                            <i class="fa fa-2x fa-angle-down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!--<div class="row">-->
            <!--<div class="col-lg-2 col-lg-offset-5">-->
                <!--<hr class="marginbot-50">-->
            <!--</div>-->
        <!--</div>-->
        <div class="rơw">
            <!--feedbacks table-->
            <table id="tbfback"></table>
            <script>$(document).ready(function(){
                    //load feedbacks aynchonously
                    $('[href="#gettingstart"]').click(function(e){
                        $('#tbfback').bootstrapTable({
                            method: 'get',
                            url: '/admin/feedbacks',
                            cache: false,
                            height: 600,
                            striped: true,
                            pagination: true,
//                            sidePagination: 'client',
                            pageSize: 5,
                            pageList: [10, 25, 50, 100, 200],
                            search: true,
                            showColumns: true,
                            showRefresh: true,
                            minimumCountColumns: 2,
                            clickToSelect: true,
                            columns: [{
                                field: 'state',
                                checkbox: true
                            }, {
                                field: '_id',
                                title: 'Item ID',
                                halign: 'center',
                                align: 'left',
                                valign: 'top',
                                sortable: true
                            }, {
                                field: 'name',
                                title: 'Item Name',
                                halign: 'center',
                                align: 'left',
                                valign: 'top',
                                sortable: true
                            }, {
                                field: 'email',
                                title: 'Email',
                                halign: 'center',
                                align: 'left',
                                valign: 'top',
                                sortable: true
                            },{
                                field: 'content',
                                title: 'Content',
                                halign: 'center',
                                align: 'left',
                                valign: 'top',
                                sortable: true
                            }, {
                                field: 'operate',
                                title: 'Item Operate',
                                halign: 'center',
                                align: 'center',
                                valign: 'middle',
                                clickToSelect: false,
                                events: operateEvents,
                                formatter: operateFbFormatter
                            }]

                        }).on('all.bs.table', function (e, name, args) {

                        }).on('click-row.bs.table', function (e, row, $element) {


    //                            $('#exampleModal').modal('toggle');
    //                            $('#id').val(JSON.stringify(row.id).substring(1,JSON.stringify(row.id).length-1));
    //                            $('#email').val(JSON.stringify(row.email).substring(1,JSON.stringify(row.email).length-1));
    //                            $('#date').text(JSON.stringify(row.date).substring(1,JSON.stringify(row.date).length-1));
    //                            $('#content').text(JSON.stringify(row.content).substring(1,JSON.stringify(row.content).length-1));
    //                            $('#name').text(JSON.stringify(row.name).substring(1,JSON.stringify(row.name).length-1));

                        })
                    });

                });

                function operateFbFormatter(value, row, index) {
                    return [
                        '<a class="fb-actions ml10" href="javascript:void(0)" title="Feedback Actions">',
                        '<i class="fa fa-ban"></i>',
                        '</a>'
                    ].join('');
                }
            </script>

        </div>

    </div>
</section>
<!-- /Section: getting start -->

<!--Section: random question-->
<section id="question" class="home-section text-center">
    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>Random Questions</h2>
                            <i class="fa fa-2x fa-angle-down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!--<div class="row">-->
        <!--<div class="col-lg-2 col-lg-offset-5">-->
        <!--<hr class="marginbot-50">-->
        <!--</div>-->
        <!--</div>-->
        <div class="rơw">
            <!--feedbacks table-->
            <table id="tbfQuestion"></table>
            <script>$(document).ready(function(){
                    //load feedbacks aynchonously
                    $('[href="#question"]').click(function(e){
                        $('#tbfQuestion').bootstrapTable({
                            method: 'get',
                            url: '/admin/getListQuestion',
                            cache: false,
                            height: 470,
                            striped: true,
                            pagination: true,
//                            sidePagination: 'client',
                            pageSize: 10,
                            pageList: [10, 25, 50, 100, 200],
                            search: true,
                            showColumns: true,
                            showRefresh: true,
                            minimumCountColumns: 2,
                            clickToSelect: true,
                            columns: [{
                                field: 'state',
                                checkbox: true
                            }, {
                                field: '_id',
                                title: 'Item ID',
                                halign: 'center',
                                align: 'right',
                                valign: 'bottom',
                                sortable: true
                            }, {
                                field: 'question',
                                title: 'Question',
                                halign: 'center',
                                align: 'center',
                                valign: 'middle',
                                sortable: true
                            }, {
                                field: 'answer',
                                title: 'Answer',
                                halign: 'center',
                                align: 'left',
                                valign: 'top',
                                sortable: true
                            }, {
                                field: 'operate',
                                title: 'Item Operate',
                                halign: 'center',
                                align: 'center',
                                valign: 'middle',
                                clickToSelect: false,
                                events: operateEvents,
                                formatter: operateQuestionFormatter
                            }]

                        }).on('all.bs.table', function (e, name, args) {

                        }).on('click-row.bs.table', function (e, row, $element) {
//                            $('#feedbackModal').modal('toggle');
//                            $('#id').val(JSON.stringify(row.id).substring(1,JSON.stringify(row.id).length-1));
//                            $('#email').val(JSON.stringify(row.email).substring(1,JSON.stringify(row.email).length-1));
//                            $('#date').text(JSON.stringify(row.date).substring(1,JSON.stringify(row.date).length-1));
//                            $('#content').text(JSON.stringify(row.content).substring(1,JSON.stringify(row.content).length-1));
//                            $('#name').text(JSON.stringify(row.name).substring(1,JSON.stringify(row.name).length-1));

                        })
                    });

                });

                function operateQuestionFormatter(value, row, index) {
                    return [
                        '<a class="add-question ml10" href="javascript:void(0)" title="Add Random Question">',
                        '<i class="fa fa-ban"></i>',
                        '</a>',
                        '<a class="update-question ml10" href="javascript:void(0)" title="Update Random Question">',
                        '<i class="fa fa-ban"></i>',
                        '</a>',
                        '<a class="delete-question ml10" href="javascript:void(0)" title="Delete Random Question">',
                        '<i class="fa fa-ban"></i>',
                        '</a>'
                    ].join('');
                }

                window.operateEvents = {
                    //==== Feedback
                    'click .fb-actions': function (e, value, row, index) {
                        overrideBootstrapConfirm('delete');
                        var modal =
                            '<form>'+
                                '<div class="form-group">'+
                                '<label id="warning" class="" for="recipient-name" class="control-label"></label>'+
                                '</div>'+

                                '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">ID:</label>'+
                                    '<input type="text" class="form-control" id="id" readonly value='+row._id+'>'+
                                '</div>'+

                                '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">Email:</label>'+
                                    '<input type="text" class="form-control" id="email" readonly value='+row.email+'>'+
                                '</div>'+

                                '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">Content</label>'+
                                    '<textarea class="form-control" id="content" readonly rows="10" cols="50">'+row.content+'</textarea>'+
                                '</div>'+
                                '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">Date: </label>'+
                                    '<label id="date">'+row.date.split('T')[0]+'</label>'+
                                '</div>'+
                            '</form>';

                        BootstrapDialog.confirm($(modal), function(result, dialog){
                            if(result) {
                                //Return all selected rows, when no record selected, am empty array will return.
                                //                        var selects = $('#tbfback').bootstrapTable('getSelections');
                                //                        ids = $.map(selects, function (row) {
                                //                            return row._id;
                                //                        });
                                $.post('/admin/feedback/delete',{
                                            id: row._id
                                        }, function(data, status){
                                            switch (status){
                                                case 'success':
                                                    $('#warning').text('status: '+ status);
                                                    $('.modal form input').each(function(){
                                                        $(this).val('');
                                                    });
                                                    $('.modal form textarea').val('');
                                                    //remove the row which was selected
                                                    $('#tbfback').bootstrapTable('remove', {
                                                        field: '_id',
                                                        values: [row._id]
                                                    });
                                                    break;
                                                case 'notmodified':
                                                    alert('notmodified');
                                                    break;
                                                case 'error':
                                                    alert('some error happended');
                                                    break;
                                                case 'timeout':
                                                    alert('request was timeout');
                                                    break;
                                                case 'parsererror':
                                                    alert('parsererror');
                                                    break;
                                                default :
                                                    alert('unkown status');
                                            }
                                        }
                                );
                            }else {
                            }
                        });
                    },

                    //==== Question
                    'click .add-question': function(e, value, row, index){
                        overrideBootstrapConfirm('Add');
                        var modal =
                            '<form>'+
                                '<div class="form-group">'+
                                '<label id="warning" class="" for="recipient-name" class="control-label"></label>'+
                                '</div>'+

                                '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">Question</label>'+
                                    '<textarea class="form-control" name="question" id="question" rows="10" cols="50"></textarea>'+
                                '</div>'+

                                '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">Answer</label>'+
                                    '<input type="text" name="answer" class="form-control" id="answer">'+
                                '</div>'+
                            '</form>';

                        BootstrapDialog.confirm($(modal), function(result, dialog){
                            if(result) {
                                var form = $('.modal form');
                                var question = form.find('textarea[name="question"]').val();
                                var answer = form.find('input[name="answer"]').val();
                                if(question === ''){
                                    $('#warning').text('Question was empty!');
                                }else if(answer === ''){
                                    $('#warning').text('Answer was empty!');
                                }else{
                                    $.post('/admin/addRandomQuestion',{
                                                question: question,
                                                answer: answer
                                            }, function(data, status){
                                                switch (status){
                                                    case 'success':
                                                        $('#warning').text('status '+ status);
                                                        form.find('textarea[name="question"]').val('');
                                                        form.find('input[name="answer"]').val('');
                                                        break;
                                                    default :
                                                        alert('unkown status');
                                                        break;
                                                }
                                            }
                                    );
                                }
                            }
                        });
                    },

                    'click .update-question': function(e, value, row, index){
                        overrideBootstrapConfirm('update');
                        var modal =
                                '<form>'+
                                    '<div class="form-group">'+
                                    '<label id="warning" class="" for="recipient-name" class="control-label"></label>'+
                                    '</div>'+

                                    '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">ID</label>'+
                                    '<input name="id" type="text" class="form-control" readonly id="id" value='+row._id+'>'+
                                    '</div>'+

                                    '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">Question</label>'+
                                    '<textarea class="form-control" name="question" id="question" rows="10" cols="50">'+row.question+'</textarea>'+
                                    '</div>'+

                                    '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">Answer</label>'+
                                    '<input type="text" name="answer" class="form-control" id="answer" value='+row.answer+'>'+
                                    '</div>'+
                                '</form>';
                        BootstrapDialog.confirm($(modal), function(result, dialog){
                            if(result){
                                var form = $('.modal form');
                                var id = form.find('input[name="id"]').val();
                                var question = form.find('textarea[name="question"]').val();
                                var answer = form.find('input[name="answer"]').val();
                                if(id===''){
                                    $('#warning').text('ID was empty');
                                }else if(question===''){
                                    $('#warning').text('the Question was empty');
                                }else if(answer===''){
                                    $('#warning').text('the answer was empty');
                                }else{
                                    $.post('/admin/updateRandomQuestion',{
                                                id: id,
                                                question: question,
                                                answer: answer
                                            }, function(data, status){
                                                switch (status){
                                                    case 'success':
                                                        $('#warning').text('status '+ status);
                                                        $('#tbfQuestion').bootstrapTable('updateRow', {
                                                            index: index,
                                                            row: {
                                                                question: question,
                                                                answer: answer
                                                            }
                                                        });
                                                        form.find('input[name="id"]').val('');
                                                        form.find('textarea[name="question"]').val('');
                                                        form.find('input[name="answer"]').val('');
                                                        break;
                                                    default :
                                                        $('#warning').text('unkown status');
                                                        break;
                                                }
                                            }
                                    );
                                }
                            }
                        });
                    },

                    'click .delete-question': function(e, value, row, index){
                        overrideBootstrapConfirm('delete');
                        var modal =
                                '<form>'+
                                    '<div class="form-group">'+
                                    '<label id="warning" class="" for="recipient-name" class="control-label"></label>'+
                                    '</div>'+

                                    '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">ID</label>'+
                                    '<input name="id" type="text" class="form-control" readonly id="id" value='+row._id+'>'+
                                    '</div>'+

                                    '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">Question</label>'+
                                    '<textarea class="form-control" name="question" id="question" readonly rows="10" cols="50">'+row.question+'</textarea>'+
                                    '</div>'+

                                    '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">Answer</label>'+
                                    '<input type="text" name="answer" class="form-control" id="answer" readonly value='+row.answer+'>'+
                                    '</div>'+
                                '</form>';
                        BootstrapDialog.confirm($(modal), function(result){
                            if(result){
                                $.post('/admin/removeRandomQuestion',{
                                        id: row._id
                                    }, function(data, status){
                                        switch (status){
                                            case 'success':
                                                $('#warning').text('status '+ status);
                                                $('.modal form input').each(function(){
                                                    $(this).val('');
                                                });
                                                $('.modal form textarea').val('');
                                                //remove the row which was selected from table
                                                $('#tbfQuestion').bootstrapTable('remove', {
                                                    field: '_id',
                                                    values: [row._id]
                                                });
                                                break;
                                            default :
                                                alert('unkown status');
                                                break;
                                        }
                                    }
                                );
                            }
                        });
                    },

                    //==== User
                    'click .add-user': function(e, value, row, index){
                        overrideBootstrapConfirm('add');
                        var birthday = new Date(row.birthday);
                        var modal =
                            '<form>'+
                                '<div class="form-group">'+
                                '<label id="warning" class="" for="recipient-name" class="control-label"></label>'+
                                '</div>'+

                                '<div class="form-group">'+
                                '<label for="recipient-name" class="control-label">Name:</label>'+
                                '<input type="text" class="form-control" name="name" id="name" readonly'+
                                '</div>'+

                                '<div class="form-group">'+
                                '<label for="recipient-name" class="control-label">Email:</label>'+
                                '<input type="text" class="form-control" name="email" id="email" readonly'+
                                '</div>'+

                                '<div class="form-group">'+
                                '<label for="recipient-name" class="control-label">Password:</label>'+
                                '<input type="text" class="form-control" name="password" id="password" readonly'+
                                '</div>'+

                                '<div class="form-group">'+
                                '<label for="recipient-name" class="control-label">Pre Password:</label>'+
                                '<input type="text" class="form-control" name="password2" id="password2" readonly'+
                                '</div>'+

                                '<div class="form-group">'+
                                '<label for="recipient-name" class="control-label">Birthday:</label>'+
                                '<input type="date" class="form-control" name="birthday" id="date" readonly'+
                                '</div>'+

                                '<div class="form-group">'+
                                '<label for="recipient-name" class="control-label">Birthplace:</label>'+
                                '<input type="text" class="form-control" name="birthplace" id="birthplace" readonly'+
                                '</div>'+

                            '</form>';

                        BootstrapDialog.confirm($(modal), function(result, dialog){
                            if(result) {
                                var form = $('.modal form');
                                var name = form.find('input[name="name"]').val();
                                var email = form.find('input[name="email"]').val();
                                var password = form.find('input[name="password"]').val();
                                var password2 = form.find('input[name="password2"]').val();
                                var birthday = form.find('input[name="birthday"]').val();
                                var birthplace = form.find('input[name="birthplace"]').val();
                                if(name === ''){
                                    $('#warning').text('Name was empty!');
                                }else if(email===''){
                                    $('#warning').text('Email was empty!');
                                }else if(password ===''){
                                    $('#warning').text('Password was empty!');
                                }else if(password2 === ''){
                                    $('#warning').text('Password was empty!');
                                }else if(password !== password2){
                                    $('#warning').text('Passwords wasn\'t math');
                                }else if(birthday===''){
                                    $('#warning').text('Birthday was empty!')
                                }else if(birthplace===''){
                                    $('#warning').text('Birthplace was empty!');
                                }else{
                                    $.post('/admin/addUser',{
                                                name: name,
                                                email: email,
                                                password: password,
                                                birthday: birthday,
                                                birthplace: birthplace
                                            }, function(data, status){
                                                switch (status){
                                                    case 'success':
                                                        $('#warning').text('status '+ status);
                                                        $('.modal form input').each(function(){
                                                            $(this).val('');
                                                        });
                                                        break;
                                                    default :
                                                        alert('unkown status');
                                                        break;
                                                }
                                            }
                                    );
                                }
                            }
                        });
                    },

                    'click .update-user': function(e, value, row, index){
                        overrideBootstrapConfirm('update');
                        if(row.birthday === '')
                            var birthday = row.birthday.split('T')[0];
                        var modal =
                                '<form>'+
                                    '<div class="form-group">'+
                                    '<label id="warning" class="" for="recipient-name" class="control-label"></label>'+
                                    '</div>'+

                                    '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">id:</label>'+
                                    '<input type="text" class="form-control" name="id" id="id" readonly value='+row._id+'>'+
                                    '</div>'+

                                    '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">Name:</label>'+
                                    '<input type="text" class="form-control" name="name" id="name" value='+row.name+'>'+
                                    '</div>'+

                                    '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">Email:</label>'+
                                    '<input type="text" class="form-control" name="email" id="email" value='+row.email+'>'+
                                    '</div>'+

                                    '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">Password:</label>'+
                                    '<input type="text" class="form-control" name="password" id="password">'+
                                    '</div>'+

                                    '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">Pre Password:</label>'+
                                    '<input type="text" class="form-control" name="password2" id="password2" readonly'+
                                    '</div>'+

                                    '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">Birthday:</label>'+
                                    '<input type="date" class="form-control" name="birthday" id="date" value="'+ birthday +'">'+
                                    '</div>'+

                                    '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">Birthplace:</label>'+
                                    '<input type="text" class="form-control" name="birthplace" id="birthplace" value='+row.birthplace+'>'+
                                    '</div>'+
                                '</form>';
                        BootstrapDialog.confirm($(modal), function(result, dialog){
                            if(result){
                                var form = $('.modal form');
                                var id = form.find('input[name="id"]').val();
                                var name = form.find('input[name="name"]').val();
                                var email = form.find('input[name="email"]').val();
                                var password = form.find('input[name="password"]').val();
                                var password2 = form.find('input[name="password2"]').val();
                                var birthday = form.find('input[name="birthday"]').val();
                                var birthplace = form.find('input[name="birthplace"]').val();

                                if(name === ''){
                                    $('#warning').text('Name was empty!');
                                }else if(email===''){
                                    $('#warning').text('Email was empty!');
                                }else if(password ===''){
                                    $('#warning').text('Password was empty!');
                                }else if(password2 === ''){
                                    $('#warning').text('Password was empty!');
                                }else if(password !== password2){
                                    $('#warning').text('Passwords wasn\'t math');
                                }else if(birthday===''){
                                    $('#warning').text('Birthday was empty!')
                                }else if(birthplace===''){
                                    $('#warning').text('Birthplace was empty!');
                                }else {
                                    $.post('/admin/updateUser',{
                                                id: id,
                                                name: name,
                                                email: email,
                                                password: password,
                                                birthday: birthday,
                                                birthplace: birthplace
                                            }, function(data, status){
                                                switch (status){
                                                    case 'success':
                                                        $('#warning').text('status '+ status);
                                                        $('#tbUser').bootstrapTable('updateRow', {
                                                            index: index,
                                                            row: {
                                                                email: email,
                                                                password: password,
                                                                name: name,
                                                                birthday: birthday,
                                                                birthplace: birthplace
                                                            }
                                                        });
                                                        break;
                                                    default :
                                                        alert('unkown status');
                                                        break;
                                                }
                                            }
                                    );
                                }
                            }
                        });
                    },

                    'click .delete-user': function(e, value, row, index){
                        overrideBootstrapConfirm('delete');
                        if(row.birthday === '')
                            var birthday = row.birthday.split('T')[0];
                        var modal =
                                '<form>'+
                                    '<div class="form-group">'+
                                    '<label id="warning" class="" for="recipient-name" class="control-label"></label>'+
                                    '</div>'+

                                    '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">id:</label>'+
                                    '<input type="text" class="form-control" name="id" id="id" readonly value='+row._id+'>'+
                                    '</div>'+

                                    '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">Name:</label>'+
                                    '<input type="text" class="form-control" name="name" id="name" value='+row.name+'>'+
                                    '</div>'+

                                    '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">Email:</label>'+
                                    '<input type="text" class="form-control" name="email" id="email">'+
                                    '</div>'+

                                    '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">Password:</label>'+
                                    '<input type="text" class="form-control" name="password" id="password">'+
                                    '</div>'+

                                    '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">Birthday:</label>'+
                                    '<input type="date" class="form-control" name="birthday" id="date" value="'+ birthday +'">'+
                                    '</div>'+

                                    '<div class="form-group">'+
                                    '<label for="recipient-name" class="control-label">Birthplace:</label>'+
                                    '<input type="text" class="form-control" name="birthplace" id="birthplace" value='+row.birthplace+'>'+
                                    '</div>'+
                                '</form>';

                        BootstrapDialog.confirm($(modal), function(result, dialog){
                            if(result){
                                var form = $('.modal form');
                                var id = form.find('input[name="id"]').val();
                                $.post('/admin/deleteUser',{
                                            id: id
                                        }, function(data, status){
                                            switch (status){
                                                case 'success':
                                                    $('#warning').text('status: '+ status);
                                                    $('.modal form input').each(function(){
                                                        $(this).val('');
                                                    });
                                                    //remove the row which was selected from table
                                                    $('#tbUser').bootstrapTable('remove', {
                                                        field: '_id',
                                                        values: [row._id]
                                                    });
                                                    break;
                                                default :
                                                    alert('unkown status');
                                                    break;
                                            }
                                        }
                                );
                            }
                        });
                    }
                };

            function overrideBootstrapConfirm(str1){
                //customize bootstrap-dialog
                BootstrapDialog.confirm = function(message, callback) {
                    new BootstrapDialog({
                        title: 'Confirmation',
                        message: message,
                        closable: false,
                        data: {
                            'callback': callback
                        },
                        buttons: [{
                            label: str1,
                            action: function(dialog) {
                                typeof dialog.getData('callback') === 'function' && dialog.getData('callback')(true, dialog);
                            }
                        }, {
                            label: 'Cancel',
                            cssClass: 'btn-primary',
                            action: function(dialog) {
                                typeof dialog.getData('callback') === 'function' && dialog.getData('callback')(false, dialog);
                                dialog.close();
                            }
                        }]
                    }).open();
                };
            }
            //set date format
            Date.prototype.yyyymmdd = function() {
                var yyyy = this.getFullYear().toString();
                var mm = (this.getMonth()+1).toString(); // getMonth() is zero-based
                var dd  = this.getDate().toString();

                return yyyy + '-' + (mm[1]?mm:"0"+mm[0]) + '-' + (dd[1]?dd:"0"+dd[0]);
            };
            </script>

        </div>

    </div>
</section>
<!--/Section: random question-->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="wow shake" data-wow-delay="0.4s">
                    <div class="page-scroll marginbot-30">
                        <a href="#intro" id="totop" class="btn btn-circle">
                            <i class="fa fa-angle-double-up animated"></i>
                        </a>
                    </div>
                </div>
                <p>&copy;Copyright 2014 - VchatTeam. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<!-- Core JavaScript Files -->

<script src="/js/jquery.easing.min.js"></script>
<script src="/js/jquery.scrollTo.js"></script>
<script src="/js/wow.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src=" /js/custom.js"></script>
<script src=" /js/jquery.snow.js"></script>

<script>
    $(document).ready( function(){
        // snow fall
//        $.fn.snow();
        //
    });
</script>


</body>
</html>