<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>feedbacks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VChat UIT</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/animate.css" rel="stylesheet" />
    <!-- Squad theme CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/default.css" rel="stylesheet">
    <link rel="stylesheet" href=" /css/bootstrap-table.min.css">
    <script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>

    <script src="/js/bootstrap.min.js"></script>

    <script src=" /js/bootstrap-table.min.js"></script>
    <script src="/js/bootstrap-table-flatJSON.min.js"></script>
</head>
<body>



<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="">
                <img src="/images/logo.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#intro">Home</a></li>
                <li><a href="#services">Quản lý</a></li>
                <li><a href="#gettingstart">Phản hồi</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"  data-toggle="modal" data-target="#signModal">Đăng Kí</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#loginModal">Đăng Nhập</a></li>
                        <li><a href="#">Example menu</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!-- Section: intro -->
<section id="intro" class="intro">



</section>
<!-- /Section: intro -->



<!-- Section: services -->
<section id="services" class="home-section text-center">

    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>Quản lý account</h2>
                            <i class="fa fa-2x fa-angle-down"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <button type="button" class="btn btn-default btn-lg">
                                <i class="fa fa-plus"></i> Add Admin
                            </button>
                        </div>
                        <div class="service-desc">


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <button type="button" class="btn btn-default btn-lg">
                                <i class="fa fa-edit"></i> Modifier
                            </button>
                        </div>
                        <div class="service-desc">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <button type="button" class="btn btn-default btn-lg">
                                <i class="fa fa-ban"></i> DELETE USER
                            </button>
                        </div>
                        <div class="service-desc">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInRight" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <button type="button" class="btn btn-default btn-lg">
                                <i class="fa fa-list"></i> LIST USER
                            </button>
                        </div>
                        <div class="service-desc">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--table user-->
        <div class="rơw">


        </div>
    </div>
</section>
<!-- /Section: servives -->


<!-- Section: getting start -->
<section id="gettingstart" class="home-section text-center">


    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>Phản Hồi</h2>
                            <i class="fa fa-2x fa-angle-down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!--<div class="row">-->
            <!--<div class="col-lg-2 col-lg-offset-5">-->
                <!--<hr class="marginbot-50">-->
            <!--</div>-->
        <!--</div>-->
        <div class="rơw">
            <!--feedbacks table-->
            <table id="fb"></table>
            <script>$(document).ready(function(){
                    //load feedbacks aynchonously
                    $('[href="#gettingstart"]').click(function(e){
                        $('#fb').bootstrapTable({
                            method: 'get',
                            url: '/admin/feedbacks',
                            cache: false,
                            height: 600,
                            striped: true,
                            pagination: true,
                            pageSize: 5,
                            pageList: [10, 25, 50, 100, 200],
                            search: true,
                            showColumns: true,
                            showRefresh: true,
                            minimumCountColumns: 2,
                            clickToSelect: true,
                            columns: [{
                                field: 'state',
                                checkbox: true
                            }, {
                                field: '_id',
                                title: 'Item ID',
                                align: 'right',
                                valign: 'bottom',
                                sortable: true
                            }, {
                                field: 'name',
                                title: 'Item Name',
                                align: 'center',
                                valign: 'middle',
                                sortable: true
                            }, {
                                field: 'email',
                                title: 'Email',
                                align: 'left',
                                valign: 'top',
                                sortable: true
                            },{
                                field: 'content',
                                title: 'Content',
                                align: 'left',
                                valign: 'top',
                                sortable: true
                            }, {
                                field: 'operate',
                                title: 'Item Operate',
                                align: 'center',
                                valign: 'middle',
                                clickToSelect: false,
                                events: operateEvents,
                                formatter: operateFormatter
                            }]

                        }).on('all.bs.table', function (e, name, args) {
                            console.log('Event:', name, ', data:', args);
                        }).on('click-row.bs.table', function (e, row, $element) {


    //                            $('#exampleModal').modal('toggle');
    //                            $('#id').val(JSON.stringify(row.id).substring(1,JSON.stringify(row.id).length-1));
    //                            $('#email').val(JSON.stringify(row.email).substring(1,JSON.stringify(row.email).length-1));
    //                            $('#date').text(JSON.stringify(row.date).substring(1,JSON.stringify(row.date).length-1));
    //                            $('#content').text(JSON.stringify(row.content).substring(1,JSON.stringify(row.content).length-1));
    //                            $('#name').text(JSON.stringify(row.name).substring(1,JSON.stringify(row.name).length-1));

                        })
                    });

                });




                function operateFormatter(value, row, index) {
                    return [
                        '<a class="remove ml10" href="javascript:void(0)" title="Remove">',
                        '<i class="fa fa-ban"></i>',
                        '</a>'
                    ].join('');
                }

                window.operateEvents = {
                    'click .remove': function (e, value, row, index) {

                        //Return all selected rows, when no record selected, am empty array will return.
    //                        var selects = $('#fb').bootstrapTable('getSelections');
    //                        ids = $.map(selects, function (row) {
    //                            return row._id;
    //                        });

                        $.post('/admin/feedback/delete',{
                                id: row._id
                            }, function(data, status){
                                switch (status){
                                    case 'success':
                                        alert('jquery ajax: status '+ status + ' **** data: '+ data);
                                        //remove the row which was selected
                                        $('#fb').bootstrapTable('remove', {
                                            field: '_id',
                                            values: [row._id]
                                        });
                                        break;
                                    case 'notmodified':
                                        alert('notmodified');
                                        break;
                                    case 'error':
                                        alert('some error happended');
                                        break;
                                    case 'timeout':
                                        alert('request was timeout');
                                        break;
                                    case 'parsererror':
                                        alert('parsererror');
                                        break;
                                    default :
                                        alert('unkown status');
                                }
                            }
                        );
                    }
                };


            </script>

        </div>

    </div>
</section>
<!-- /Section: getting start -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="name"></h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">id:</label>
                        <input type="text" class="form-control" id="id" readonly>
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="control-label">email:</label>
                        <input type="text" class="form-control" id="email" readonly>
                    </div>


                    <div class="form-group">
                        <label for="recipient-name" class="control-label">content</label>
                        <textarea class="form-control" id="content" readonly></textarea>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">date</label>
                        <label id="date"></label>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="delete">Delete</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="wow shake" data-wow-delay="0.4s">
                    <div class="page-scroll marginbot-30">
                        <a href="#intro" id="totop" class="btn btn-circle">
                            <i class="fa fa-angle-double-up animated"></i>
                        </a>
                    </div>
                </div>
                <p>&copy;Copyright 2014 - VchatTeam. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<!-- Core JavaScript Files -->

<script src="/js/jquery.easing.min.js"></script>
<script src="/js/jquery.scrollTo.js"></script>
<script src="/js/wow.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src=" /js/custom.js"></script>
<script src=" /js/jquery.snow.js"></script>

<script>
    $(document).ready( function(){
        // snow fall
//        $.fn.snow();
        //
    });
</script>


</body>
</html>